* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid RebeccaPurple;
	margin-top: 15px;
   justify-content: space-between;
   align-items: center;
}

h1 {
	text-align: center;
}

hr {
	margin: 15px 0;
}

.comment {
	margin-top: 15px;
}
 
.post_btns {
	display: flex;
}

.post-enter {
	transform: translateX(-350px);
	/* opacity: 0; */
}

.post-enter-active {
	transform: translateX(0px);
	transition: all 500ms ease-in;
	/* opacity: 1;
  	transition: opacity 500ms ease-in; */
}

.post-exit {
	opacity: 1;
}

.post-exit-active {
	transform: translateX(-350px);
	transition: all 500ms ease-in;
	/* opacity: 0;
  	transition: opacity 500ms ease-in; */
}
 
.loader {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.page_wrapper {
	margin-top: 30px;
	display: flex;
}

.page {
	padding: 10px;
   border: 1px solid RebeccaPurple;
	cursor: pointer;	
}

.page_current {
	border: 2px solid rgb(228, 70, 70);
	font-weight: bold;
}

.navbar {
	height: 50px;
	width: 100vw;
	display: flex;
	align-items: center;
	padding: 0 15px;
	background: lightgray;
}

.navbar_links {
	margin-left: auto;
}

.error {
	color: red;
}